

    <div class="baner">
      <mat-toolbar class="cor">
        <img style="color:white"src="https://www.tindin.com.br/assets/img/footer/logo.png" alt="" height="57px" width="100px" >
        <a class="link-home" routerLink="/home">Home</a>
        <a routerLink="/cadastrogame" class="link-home">Cadastrar</a>
        <span class="example-spacer"></span>
        <button routerLink="/login" mat-icon-button class="example-icon" aria-label="Example icon-button with heart icon">
          <span class="material-symbols-outlined">
            login
            </span>
        </button>

      </mat-toolbar>
      </div>
      <div class="footer">
        <footer>
          Codec By Diego Guedes Tindin - "Obs" The Job Is Mine!
        </footer>
      </div>
    

